# python files
config.py
constants.py
live_config.py
live_constants.py
vlog_msg.py
season_migration.py

# other files
log
discord.log
200lounge.log
rules.txt

# folders
/dont
/venv
/tables
__pycache__
.pytest_cache
.ruff_cache
