# python files
secrets.py
secretly.py
secretly2.py
vlog_msg.py
magicktest.py
url_encode.py
twitch_test.py
unit_test.py
migration_commands.py
season_migration.py

# other files
log
discord.log
200lounge.log

# folders
/__pycache__
/magick_test
/dont