# python files
config.py
live_config.py
vlog_msg.py
season_migration.py
add_random_players_to_queue.py

# other files
log
discord.log
200lounge.log
rules.txt

# folders
/dont
/venv
__pycache__
.pytest_cache
.ruff_cache